@import "tailwindcss";

@font-face {
  font-family: 'belaRegular';
  src: url(./assets/font/Belanosima-Regular.ttf);
}

* {
  font-family: belaRegular;
}

h1, h2, h3, h4, h5, h6 {
  cursor: default;
}

#navbar {
  transition: all 0.5s ease-in-out;
}

#navbar li {
  display: flex;
  align-items:center;
}

#navbar li, #navbar div {
  gap: 30px;
  text-wrap: nowrap;
  border: 10px solid transparent;
  border-radius: 10px;
  transition: all 0.5s;
}

#navbar div div {
  border: 0px;
}

#navbar li:hover, #navbar div:hover {
  background-color: #005aa8;
  border-color: #005aa8;
}

#navbar:hover li img, #navbar:hover div img{
  filter: invert(100%);
}

#navbar:hover li, #navbar:hover div {
  color: white;
}

#navbar img {
  width: 50px;
  height: auto;
}

#navbar:hover {
  max-width: 100%;
  background-color: #0074D9;
  border: 20px solid #0074D9 ;

}

label, input[type="text"], input[type="password"], input[type="email"], select {
  font-size: 20px;
}

#saida {
  gap: 0px;
}

#saida:hover {
  gap: 10px;
}

#saida img {
  width: 0px;
  height: 21px;
  transition: width 0.3s;
}

#saida:hover img {
  width: 21px;
}

#menuHome div:not(#tooltip) {
  text-align: center;
  background-color: white;
  border: 10px solid white;
  border-radius: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.25);
  width: 300px;
  height: 150px;
  padding: 25px;
  cursor: pointer;
  transition: all 0.5s;
}

#menuHome div:hover:not(#tooltip) {
  background-color: #0074D9;
  border-color: #0074D9;
  letter-spacing: 2px;
}

#menuHome div:hover ~ #tooltip {
  transform: scale(1.0);
}

#menuHome div:hover h1, #menuHome div:hover img {
  filter: invert();
}

#menuHome img {
  width: 64px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

#fundoGradient div {
  background-image: radial-gradient(#0074D9 , white 70%);
  opacity: 50%;
  position: absolute;
  z-index: -1;
}

#tooltip {
  box-shadow: 0px 4px 6px #01437c65;
  transition: all 0.3s ease-in-out;
}

#tooltip span {
  border: 1px solid transparent;
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
}

select, input[type="text"], input[type="password"], input[type="email"] {
  font-size: 20px;

}